@import 'tailwindcss';
@plugin 'flowbite/plugin';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-surface: #FFFFFF;
    --color-surface-dark: #1A1D21;
    --color-text-primary: #1D2129;
    --color-text-primary-dark: #F8F9FA;
    --color-text-secondary: #6C757D;
    --color-text-secondary-dark: #A0AEC0;
    --border: #E2E8F0;
    --color-border-dark: #2D3748

    --color-primary-50: #fefce8;
    --color-primary-100: #fef8c3;
    --color-primary-200: #feee8a;
    --color-primary-300: #fddd47;
    --color-primary-400: #facb23;
    --color-primary-500: #eaaf08;
    --color-primary-600: #ca8604;
    --color-primary-700: #a15f07;
    --color-primary-800: #854b0e;
    --color-primary-900: #713d12;
    --color-primary-950: #421f06;

    --color-secondary-50: #f5f6f9;
    --color-secondary-100: #e7eaf2;
    --color-secondary-200: #d5dae8;
    --color-secondary-300: #b8c2d8;
    --color-secondary-400: #95a3c5;
    --color-secondary-500: #7c89b5;
    --color-secondary-600: #6a73a6;
    --color-secondary-700: #5e6497;
    --color-secondary-800: #50547d;
    --color-secondary-900: #3d405b;
    --color-secondary-950: #2c2d3f;
}

/* Example: A primary button
.kaja-button {
  background-color: var(--primary);
  color: var(--text-primary); // Use dark text!
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
} */

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
@source '../node_modules/flowbite-svelte-blocks/dist';

@layer base {

    html, body, #svelte, #app {
        height: 100%;
        min-height: 100vh;
    }

    /* disable chrome cancel button */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}